
/**********************************************************************/
/* 																	  */
/* 		  Conseil de lecture et écriture sur le fichier css	: 		  */
/* 																	  */
/* 	  Se fichier est rangé par type puis par ordre alphabétique.	  */
/* Ne dupliquer pas du code et ne bouleverser pas l'ordre deja établi.*/
/* 																	  */
/*			      Merci beaucoup, Pierre-Louis ;) 					  */
/* 																	  */
/**********************************************************************/

@font-face {
	font-family: 'Huruf Miranti';
	src: url(../fonts/Huruf_Miranti.ttf) format(truetype);
}

/********/
/* TAGS */
/********/

body {
	padding-top: 80px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

html,
body,
.container-table,
.container-table-erreur {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
 	background-color: #F1F2F1; 
}

textarea {
	width: inherit;
}

/*******/
/* IDS */
/*******/

#barre-recherche {
	margin-top: .4%;
	margin-left: 7.9%;
}

#panel-2 > div>div>ul>li {
	padding-top: 1%;
	padding-bottom: 1%;
}

/***********/
/* CLASSES */
/***********/

.accueilBody li {
	list-style-type: none;
}

.accueilBody{
	margin-bottom : 3%; ;
}

.affix {
	width: inherit;
	margin-left: -50px;
}

.alert-white {
	background-color: #ffffff;
	border-top: 0;
	border-bottom: 0;
}

.article,
.bloc {
	margin-top: 1%;
	padding-top: 1%;
	border: 1px solid #dadbdb;
	background-color: #ffffff;
}

.body_without_menu {
	padding-top: 0;
}

.container-bas,
h3 {
	padding-bottom: 5%;
}

.container-table {
	display: table;
	background: linear-gradient(180deg,#ffffff50%,#f6921e50%);
}

.container-table-erreur {
	display: table;
	width: 100%;
}

.couleurgly {
	font-size: 120%;
	color: black;
}

.diplomePrincipal,
.publierArt {
	padding-top:0.5%;
	font-weight: bold;
}

.btnModifProfif{
	background-color:#F1F2F1
}
.titreArt{
	font-weight: bold;
}
.entete-inscrip {
	width: 100%;
	background-color: #F1F2F1;
}

.form-inscrip {
	padding-top: 2.5%;
	padding-bottom: 5%;
	background-color: #f6921e;
}

.formPubli {
	padding-right: 4%;
}

.gly-menu {
	float: right;
	font-size: 120%;
	color: black;
}

.glyphicon-map-marker {
	font-size: 2em;
}

.header {
	background-color: #f6921e;
}

.img-logo {
	width: 15%;
	height: 15%;
	padding-top: 4%;
	padding-bottom: 4%;
}

.img-responsive2 {
	width: 25px;
	height: 25px;
}

.inputForm {
	width: 100%;
	margin-top: .5%;
	margin-bottom: 1%;
}

.jumbotron {
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.label {
	float: right;
	font-size: 110%;
	color: #FFFFFF;
}

.label2 {
	color: #FFFFFF;
}

.menu-droite {
	margin-left: 0;
}

.menu-droite-1 {
	margin-bottom: 20%;
}

.menu-droite-1,
.menu-droite-2 {
	width: 85%;
	margin-left: 6%;
	border: 1px solid #dadbdb;
	background-color: #ffffff;
}

.menu-gauche {
	border: 1px solid #dadbdb;
	background-color: #ffffff;
}

.menu-gauche a,
.menu-droite-1 a,
.menu-droite-2 a,
.header a {
	color: black;
	font-color: black;
}

.menu-gauche a:link,
.menu-droite-1 a:link,
.menu-droite-2 a:link,
.header a:link {
	text-decoration: none;
}

.menu-gauche li,
.menu-droite-1 li,
.menu-droite-2 li {
	padding-top: 4%;
	padding-right: 10%;
	padding-bottom: 4%;
	list-style-type: none;
}

.name-logo {
	font-family: 'Huruf Miranti';
	font-size: 240%;
}

.nav-pills > .active>a>.badge {
	color: #231F20;
}

.nav-pills > li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: #F6921E;
}

.nav-tabs > li>a {
	text-align: center;
	color: #F6921E;
}

.nom-etudiant {
	margin-top: 6.5%;
}

.nomEtu,
.nomBloc {
	font-weight: bold;
	color: #f6921e;
}

.nomGroupe {
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;"
}

.publication {
	padding-top: 1%;
	padding-bottom: 1%;
	border: 1px solid #dadbdb;
	background-color: #ffffff;
}

.row-logo {
	margin-top: -5%;
}

.situation {
	margin-bottom: 15px;
}

.small-link {
	font-size: 12px;
	color: #000000;
}

.suggestion-titre {
	margin-bottom: 4%;
	margin-left: 6%;
}

.taille {
	font-size: 150%;
}

.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
}

.titreRech{
	font-weight: bold;
		font-size: 200%;
}

.soustitreRech{
	font-weight: bold;
	font-size: 100%;
	margin-left:4%;
}